<link rel="stylesheet" href="/styles/confirm.css" />
<div id="confirm-modal" class="confirm-modal hidden">
  <div class="confirm-content">
    <h2 id="confirm-modal-title"></h2>
    <p id="confirm-modal-message"></p>
    <div class="confirm-buttons">
      <button id="confirm-modal-cancel" class="btn btn-cancel">No</button>
      <button id="confirm-modal-confirm" class="btn btn-confirm">Yes</button>
    </div>
  </div>
</div>
<script src="/js/confirm.js"></script>
