<link rel="stylesheet" href="/styles/forgot-password-popup.css" />
<div class="forgot-password-popup-overlay" id="forgot-password-popup-overlay">
  <div class="forgot-password-popup-content" id="forgot-password-popup">
    <h2><%= __("ForgotPasswordPopup.title") %></h2>
    <form id="forgot-password-form">
      <label for="forgot-password-email"
        ><%= __("ForgotPasswordPopup.emailLabel") %></label
      >
      <input type="email" id="forgot-password-email" name="email" required
      placeholder="<%= __("ForgotPasswordPopup.emailPlaceholder") %>" />
      <button type="submit">
        <%= __("ForgotPasswordPopup.submitButton") %>
      </button>
    </form>
    <span class="login-close-popup" id="forgot-password-close-popup"
      >&times;</span
    >
  </div>
</div>
