<link rel="stylesheet" href="/styles/language.css" />
<span class="icon" id="language-icon">
  <i class="fa-solid fa-globe"></i>
  <div class="language-dropdown" id="language-dropdown">
    <div class="language-option" data-lang="en">English</div>
    <div class="language-option" data-lang="bs">Bosnian</div>
  </div>
</span>
<script src="/js/language.js"></script>
