<link rel="stylesheet" href="/styles/login-popup.css">
<link rel="stylesheet" href="/styles/candidate-register-popup.css">

<span class="icon" id="user-icon" title="<%= __("TopBar.userIcon") %>">
  <i class="fa-solid fa-user"></i>
</span>

<%- include('./login-popup') %>
<%- include('./candidate-register-popup') %>

<script type="module" src="/js/login-popup.js"></script>
<script type="module" src="/js/candidate-register-popup.js"></script>
