<link rel="stylesheet" href="/styles/notification.css" />
<span class="icon" id="notifications-icon">
  <i class="fa-solid fa-bell"></i>
  <span class="notification-badge" id="notification-count"></span>
</span>
<div id="notifications-container">
    <div class="header"><%= __('Notifications.header') %></div>
    <div class="empty"><%= __('Notifications.noNew') %></div>
</div>
<script type="module" src="/js/notification.js"></script>
