<link rel="stylesheet" href="/styles/notification.css" />
<span class="icon" id="notifications-icon">
  <i class="fa-solid fa-bell"></i>
  <span class="notification-badge" id="notification-count"></span>
</span>
<div id="notifications-container">
    <div class="header">Notifications</div>
    <div class="empty">No new notifications</div>
</div>
<script type="module" src="/js/notification.js"></script>
