<link rel="stylesheet" href="/styles/firm-hiring-process-details.css">
<div id="details-popup" class="popup hidden">
    <div class="popup-content">
      <button class="close-popup-btn">&times;</button>
      <h2>Candidate Details</h2>
      <div id="details-container">
      </div>
    </div>
</div>
