<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to Job Finder!</title>
  </head>
  <body>
    <div class="email-container">
      <h1>Welcome, <%= firmName %>!</h1>
      <p>
        Your firm registration has been approved. Click the link below to set up
        your password and start using our platform:
      </p>
      <a class="button" href="<%= resetPasswordLink %>">Set Your Password</a>
      <p>
        This link will expire in 24 hours. If you have any issues, feel free to
        contact us.
      </p>
      <p>Best regards,<br />The Job Finder Team</p>
    </div>
  </body>
</html>
