<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Firm Registration Rejected</title>
  </head>
  <body>
    <div class="email-container">
      <h1>Dear <%= firmName %>,</h1>
      <p>
        We regret to inform you that your firm registration request has been
        rejected. If you believe this was a mistake, feel free to contact us for
        more information.
      </p>
      <p>Best regards,<br />The Job Finder Team</p>
    </div>
  </body>
</html>
