/* Ligt Mode */
:root {
    --background-color: #fff;
    --text-color: #000;
    --popup-overlay-color: rgba(0, 0, 0, 0.7);
    --close-btn-color: #000;
}

/* Dark Mode */
[data-theme="dark"] {
    --background-color: #181818;
    --text-color: #f5f5f5;
    --popup-overlay-color: rgba(0, 0, 0, 0.9);
    --close-btn-color: #f5f5f5;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--popup-overlay-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.popup.visible {
    visibility: visible;
    opacity: 1;
}

.popup-content {
    background: var(--background-color);
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
    color: var(--text-color);
}

.close-popup-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--close-btn-color);
}

#details-container {
    margin-top: 20px;
    color: var(--text-color);
}

/* Responsive Design */
@media (max-width: 768px) {
    .popup-content {
        width: 80%;
        max-height: 85%;
        padding: 15px;
    }

    .close-popup-btn {
        font-size: 1.3rem;
    }

    #details-container {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .popup-content {
        width: 90%;
        max-height: 90%;
        padding: 10px;
        border-radius: 5px;
    }

    .close-popup-btn {
        font-size: 1.2rem;
        top: 5px;
        right: 5px;
    }

    #details-container {
        font-size: 0.85rem;
        margin-top: 10px;
    }
}

@media (max-width: 360px) {
    .popup-content {
        width: 95%;
        padding: 8px;
        font-size: 0.85rem;
    }

    .close-popup-btn {
        font-size: 1rem;
    }

    #details-container {
        font-size: 0.8rem;
    }
}
